<div class="container">
  <div class="row h-100">
    <div class=" offset-md-4 col-md-4 margin-above">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="assets/img/anime6.png" />

              <h5 class=" title">Welcome</h5>
            </a>
            <p class=" description">Get Started Here</p>
          </div>
          <div class="card-description text-center">Lets face it you lazy and so are we, hence only Third Party
            Authentication.</div>
        </div>
        <div class=" card-footer">
          <div class=" button-container">
            <button class=" btn btn-icon btn-round btn-facebook" (click)="navigateToDashboard()">
              <i class=" fab fa-facebook"> </i>
            </button>
            <button class=" btn btn-icon btn-round btn-twitter" (click)="navigateToDashboard()">
              <i class=" fab fa-github"> </i>
            </button>
            <button class=" btn btn-icon btn-round btn-google" (click)="navigateToDashboard()">
              <i class=" fab fa-google-plus"> </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>