<div class="container" style="max-width: 1500px !important; margin-top: 100px">
  <div class="row">
    <div class="col-sm-3 my-auto">
      <div class="card">
        <div class="card-header">
          <h3 class="text-warning">Components Palette</h3>
        </div>
        <div class="card-body">
          <command-pallete></command-pallete>
          <!-- <div class="component">
            <span class="text-danger font-weight-bold my-auto"> DATA INPUT </span>
          </div>
          <div class="component" style="background-color: beige">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close"
              (click)="addNewComponent2()">
              <i class="tim-icons icon-simple-add"></i>
            </button>
            <span class="text-danger font-weight-bold my-auto"> FEATURE ENGINEERING </span>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-sm-9 my-auto">
      <div class="diagramsPanel">
        <div id="cy"></div>
      </div>
    </div>
  </div>
</div>