<div class=" content">
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Notebooks</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 0
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Past Accuracies</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> 0
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Competitions Activity</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> 0 Threads
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-12 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h6 class=" title d-inline">Notebooks(0)</h6>
        </div>
        <div class=" card-body">
          <div class=" table-full-width ">
            <table class=" table">
              <tbody>
                <tr>
                  <td>
                    <p class=" title">Tabular Data Starter</p>
                    <p class=" text-muted">
                      Simple Graph consisting of starter sklearn and pandas with Random Forest Classifier.
                    </p>
                  </td>
                  <td class=" td-actions text-right">
                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit" container="body">
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class=" title">Image Classifier Starter</p>
                    <p class=" text-muted">
                      Graph to get you started on Image Classification Tasks using Keras.
                    </p>
                  </td>
                  <td class=" td-actions text-right">
                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit" container="body">
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>

                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Preview" container="body"
                      (click)="showPreview('sample')">
                      <i class=" tim-icons icon-triangle-right-17"> </i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Notebook Preview</h4>
  </div>
  <div class="modal-body">
    <div [innerHTML]="notebookContent"></div>
  </div>
</ng-template> -->